@import "../styles/variables";

.Main {
  background-color: black;
  height: 100%;
  min-height: 100vh;
  width: 100%;
}

.FeatureStory {
  font-family: $kumbh-sans;
  display: none;
  width: 100%;
  min-height: calc(100vh - 80px);
  position: relative;
  flex-direction: row-reverse;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: whitesmoke;
}

.FeatureStoryHeading {
  margin: 0 0 16px;
}

.Preview {
  margin: 0;
  line-height: 22px;
}

.FeatureStoryMobile {
  font-family: $kumbh-sans;
  color: whitesmoke;
  &Image {
    width: 100%;
  }

  &Details {
    padding: 20px 30px;
    border-bottom: 6px solid $hollywood-cerise;
  }
}

.FeatureWrapper {
  max-width: 900px;
  margin: 0 auto;
  &:hover {
    cursor: $cat-cursor;
  }
}

.HoverWrapper {
  &:hover {
    cursor: $cat-cursor;
  }
}

.FeatureDetails {
  margin: 0 24px 42px 0;
  position: absolute;
  bottom: 0;
  color: whitesmoke;
  max-width: 475px;
  background-color: black;
  padding: 20px;
  border: 6px solid $hollywood-cerise;
  border-radius: 6px;
}

.FeatureTitle {
  color: $hollywood-cerise;
  margin: 0 0 10px;
  font-family: $big-john;
}

.AdWrapper {
  background-color: white;
  width: 100%;
}

.Ad {
  width: 100%;
  display: flex;
}

.Heading {
  text-align: center;
  margin-bottom: 24px;
}

.Banner {
  border-bottom: 6px solid $hollywood-cerise;
  padding: 24px 24px;
  background-color: black;
}

.Tags {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  width: 100%;
}

.Tag {
  padding: 10px 15px 6px;
  color: white;
  font-family: $big-john;
  margin: 0;
  border: 0;
  outline-color: white;

  &:hover {
    opacity: 0.7;
  }
}

@include breakpoint(medium) {
  .FeatureStory {
    display: flex;
  }

  .FeatureStoryMobile {
    display: none;
  }

  .FeatureTitle {
    font-size: 32px;
  }

  .Main {
    min-height: unset;
  }

  .Ad {
    margin: 0 auto;
    max-width: 700px;
    padding: 10px 0;
  }

  .Tags {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    width: 100%;
  }
}

.TagWrapper {
  display: flex;
  align-items: center;
}

@include breakpoint(large) {
  .Tags {
    grid-template-columns: repeat(7, 1fr);
  }
}

@include breakpoint(xxlarge) {
  .Banner {
    border-top: 6px solid $hollywood-cerise;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 40px 24px;
  }

  .Heading {
    text-align: left;
    margin-bottom: 0;
    margin-right: 24px;
  }
}
