body {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "BigJohn";
  src: url("/fonts/BigJohn.woff2") format("woff2");
}

@font-face {
  font-family: "SlimJoe";
  src: url("/fonts/SlimJoe.woff2") format("woff2");
}
